/* Define font faces */
@font-face {
    font-family: urban;
    src: url(../assets/fonts/urbanist.ttf);
    /* Add additional font formats if necessary */
}

/* Reset box-sizing and margin/padding */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Image Styles */
img {
    width: 8vw;
    max-height: 8vw; /* Adjust as needed */
}

/* Company Icon Styles */
.company_icon {
    border: 2px;
    width: 5vw;
    height: 5vw;
}

/* Body Styles */
body {
    font-family: urban;
    background-color: #ffffff;
}

/* Heading Styles */
h1, h2, .hea, .heb {
    font-family: urban;
}

.hea {
    align-items: center;
    font-size: 5vw;
}

/* Main Content Styles */
.main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

/* Grid Item Styles */
.grid-item {
    border-radius: 25px;
    padding: 20px;
    text-align: center;
}

.grid-item:hover {
    border-color: black;
    background-color: rgb(253, 217, 14);
    filter: invert(1);
}

/* Details Section Styles */
.details {
    background-color: #e6e6e6;
    padding: 20px;
    text-align: center;
}

.details p {
    margin-bottom: 10px;
}

/* Header Styles */
.header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    gap: 10px;
}

.ico {
    border-radius: 25px;
    width: 4vw;
    height: 4vw;
}

.ico:hover {
    background-color: rgb(253, 217, 14);
    filter: invert(1);
}

/* Responsive Styles */
@media (max-width: 768px) {
    .main-content {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .dropdown-content a,
    .dropdown-content {
        font-size: 5vw; /* Adjust as needed */
    }

    .dropdown-content {
        font-size: 1vw; /* Adjust as needed */
    }

    .grid-item {
        grid-column: 1 / -1;
    }
}

/* Navigation Styles */
nav {
    background-color: #ffffff;
    font-family: calibri;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    border-radius: 10px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(255, 255, 255);
}

/* Dropdown Content Styles */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: block;
    right: 0;
    left: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color:rgb(8, 95, 255);
}

.dropdown-content a img {
    margin-right: 10px;
    width: 4vw;
    height: 4vw;
}

/* Grid Container Styles */
.grid-container {
    display: grid;
    border-radius: 25px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}
